.main-p {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    text-decoration: underline;
    z-index: 100;
}

.test-div{
    width: 900px;
    height: 50px;
    background-color: blue;
    padding: 60px 50px 50px 120px;
    z-index: 1000;
    border: greenyellow solid 10px;
    cursor: pointer;
    display: ;
}

.header-main {
    width: 100%;
    height: 60px;
    background-color: black;
}

.image {
    width: 400px;
    height: 300px;
    background-image: url(../img/site.jpg);
    background-color: aqua;
}